  table, td, th {  
    border-left: none;
    border-right: none;
    text-align: left;
  }
  table{
    margin-top: 10px;
  }
  .head{
    border-bottom: 1px solid black;
    border-top: 1px solid black;
  }
  
  table {
    border-collapse: collapse;
    width: 100%;
  }
  
  th, td {
    padding: 15px;
  }
  
  th, td{
    width: auto;
    min-width: 0;
    max-width: 200px;
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  td{
      border-bottom: 0.5px dashed #e6e6e6;
      border-top: 0.5px dashed #e6e6e6;
  }
  .footer{
      border:none;
      border-top: 1px solid black;
  }

  .copyright{
    font-size:9px;
  }

  .titulo-relatorio{
    margin-bottom: 40px;
  }